body{
    background-color: #fafffb;
    font-family: sans-serif;
}
#testButton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor:pointer;
  margin-left: 10px;
}
.set{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor:pointer;
  margin-left: 10px;
}
.title{
  display:inline-block;margin-right:10px;
}
#backButton{
  font-size: 30px;
  float:right;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
#hideButton{
  font-size: 30px;
  float:right;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

#currentTemp{
    /*color: red;*/
    font-size: 25px;
}
#soilLevel{
  font-size: 20px;
}
#wasThereMotion{
  font-size: 20px;
}
.subHeader{
    font-size: 18px;
    font-weight: bold;
}
.mainDiv{
    margin: 0 auto;
    width: 35%;
    border: 3px solid green;
    padding: 10px;
}
#settings{
  display: none;
}
#backButton{
  display:none;
}

.left{
    float:left;
}
.right{
    float:right;
}
#currentSoil{
    display: inline-block;
    margin-left: 43%;
}
