body{
    background-color: #fafffb;
    font-family: sans-serif;
}
#testButton{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor:pointer;
  margin-left: 10px;
}
.set{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor:pointer;
  margin-left: 10px;
}
.title{
  display:inline-block;margin-right:10px;
}
#backButton{
  font-size: 30px;
  float:right;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
#hideButton{
  font-size: 30px;
  float:right;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

#currentTemp{
    font-size: 25px;
}
#soilLevel{
  font-size: 20px;
}
#wasThereMotion{
  font-size: 20px;
}
.subHeader{
    font-size: 18px;
    font-weight: bold;
}
.mainDiv{
    margin: 0 auto;
    width: 35%;
    border: 3px solid green;
    padding: 10px;
}
#settings{
  display: none;
}
#backButton{
  display:none;
}

.left{
    float:left;
}
.right{
    float:right;
}
#currentSoil{
    display: inline-block;
    margin-left: 43%;
}
.inputType{
  display:inline-block;
}
.settingsWords{
  display:inline-block;
}


@media only screen and (max-width: 600px) {
  h1{
    /*font-size: 20px;*/
  }
  .mainDiv{
    width: 80%;
    border-style: none;
  }
  #currentTemp{
      font-size: 40px;
  }
  #wasThereMotion{
    font-size: 30px;
  }
  #testButton{
    font-size: 22px;
  }
  .subHeader{
    font-size: 24px;
  }
  #soilLevel{
    font-size: 22px;
  }
  #hideButton{
    font-size: 40px;
  }
  #backButton{
    font-size: 40px;
  }
  .settingsWords{
    font-size: 23px;
  }
  .inputMobile{
    display:flex;
    justify-content: space-between;
  }
}
